*.opensdf
*.db
*.sdf
*.user
*.exp
*.iobj
*.ipdb
*.pdb
*.obj
*.tlog
*.tlog/*.*
*.opendb
*.log
.vs/
ipch/
Win32/
x64/
ARM/
vendor/
wxsUI/*.*
lua_helper/*.bat
lua_helper/*.exe
lua_helper/x86/
lua_helper/x64/
FileExpRefresh/*/wxsStub.lib
FileExpRefresh/*/wxsStub32.lib
wallpaper.jpg
wxsStub.dll
wxsStub32.dll
UI_Debug.bat
/dist
/test
